{%extends "./base.html"%}
{% load static %}
{% load django_bootstrap5 %}
    
    {%block content%}
    <main class="container">
      <div class="bg-body-tertiary p-5 rounded">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
        <h1 class="title">{{title}}</h1>
        <form method="post" action="">
          {% csrf_token %}
          {% for field in form %} {% bootstrap_field field %}
          {% endfor %}
          <input class="btn btn-primary" type="submit" value="Search" />
          </form>
        <table>
          <tr>
            <th>#</th>
            <th>PC NAME</th>
            <th>Operating System</th>
            <th>MAC ADDR</th>
            <th>IP ADDRESS</th>
            <th>USER'S NAME</th>
            <th>LOCATION</th>
            <th>DELETE</th>
          </tr>
          {% for instance in queryset %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.computer_name}}</td>
            <td>{{instance.operating_system.all}}</td> 
            <td>{{instance.MAC_address}}</td>
            <td>{{instance.IP_address}}</td>
            <td><a href="{% url 'computer_edit' id=instance.id %}"> {{instance.users_name}}</td>
            <td>{{instance.location}}</td>
            <td><a href="{% url 'computer_delete' id=instance.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>
    <script
      src="{% static 'js/bootstrap.bundle.min.js' %}"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
 {%endblock content%}
