{%extends "./base.html"%}
{% load static %}

    {%block content%}
    <main class="container">
      <div class="bg-body-tertiary p-5 rounded">
        <h1>{{ title }}</h1>
        <p class="lead">Welcome to this page.</p>
        <a
          class="btn btn-lg btn-primary"
          href="/docs/5.3/components/navbar/"
          role="button"
          >Login</a
        >
      </div>
    </main>
    <script
      src="{% static 'js/bootstrap.bundle.min.js' %}"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
 {%endblock content%}
